@page "/history"
@inject SharedService Service


<PageTitle>Histórico</PageTitle>

<div id="history">
    <div class="header-top container-fluid flex flex-colum p-1">
        <div class="center logo-imc">
            <img src="assets/icon-no-bg.png" alt="Ícone IMC" />
        </div>

        <div class="header-top center py-1">
            <h1>Histórico</h1>
        </div>

        <div class="mb-1">
            <EditForm Model="ModelFiltro">
                <InputText class="form-control shearch-input" @bind-Value="ModelFiltro.Filtro" @oninput="FiltrarHistorico" placeholder="Pesquisar..." />
            </EditForm>

        </div>

        <div class="box-blocos mt-2">

            @foreach (var historico in ListHistResult)
            {
                if (string.Equals(historico, "Peso Ideal"))
                {
                    <div class="py-1 bloco-item flex">
                        <div class="bloco-q"></div>
                        <div class="pl-1 width100">
                            <div class="flex justify-between mb-05">
                                <h4 class="flex"> @historico<span class="icon-peso icon-peso-verde">&#10003;</span></h4>
                                <span class="tempo">@Model.DataTempo.ToShortDateString()</span>
                            </div>
                            <div>
                                <p style="text-align: left;">
                                    "Parabéns, você está no seu peso ideal, continue mantendo este estilo!";
                                </p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="py-1 bloco-item flex">
                        <div class="bloco-q"></div>
                        <div class="pl-1 width100">
                            <div class="flex justify-between mb-05">
                                <h4 class="flex">@historico<span class="icon-peso icon-peso-vermelho">&minus;</span></h4>
                                <span class="data">@Model.DataTempo.ToShortDateString()</span>
                            </div>
                            <div>
                                <p style="text-align: left;">Estamos quase lá! Faça alguns ajustes para ficar no peso ideal</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</div>


@code {

    public List<string> ListHistResult { get; set; } = new();
    public FiltroHistorico ModelFiltro { get; set; } = new();
    private List<string> ListConsulta = new();

    public Historico Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
        ListHistResult = Service.ListResult;
       
    }

    private void FiltrarHistorico()
    {
        if (!string.IsNullOrEmpty(ModelFiltro.Filtro.Trim()))
        {
            ListConsulta = ListHistResult
                .Where(item => item.Contains(ModelFiltro.Filtro, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }

}