@page "/"
@inject NavigationManager Navigation
@inject SharedService Service


<PageTitle>IMC</PageTitle>

<div class="container center flex flex-colum padding5">
    <div class="text-center header-top">
        <h2>Cálculo de IMC</h2>
        <br />
    </div>

    <div class="width100 ">
        <EditForm Model="Model" OnValidSubmit="CalcularImc" accept="#" method="post" class="input-position">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="block-input">
                <div class="mb-4">
                   
                    <InputNumber @bind-Value="Model.Altura" name="altura" type="text" placeholder="Altura" class="form-control" />
                    <ValidationMessage For="@(()=>Model.Altura)" />
                </div>

                <div class="mb-4">
                    <InputNumber @bind-Value="Model.Peso" name="peso" type="text" placeholder="Peso" class="form-control" />
                    <ValidationMessage For="@(()=>Model.Peso)" />
                </div>

                <div class="mb-4">
                    <InputText @bind-Value="Model.Sexo" name="sexo" type="text" placeholder="Sexo" class="form-control" />
                    <ValidationMessage For="@(()=>Model.Sexo)" />
                </div>
            </div>

            <div class="mb-4">
                <div class="form-check">
                    <InputCheckbox id="older" class="form-check-input" type="checkbox" @bind-Value="Model.Idoso" />
                    <label for="older" class="form-check-label">Eu tenho 65 anos ou mais</label>
                </div>
            </div>

            <div class="block-button ">
                <button @onclick="CalcularImc" class="width100 bg-aqua"><b>Cálcular meu IMC</b></button>
            </div>

            <div class="block-button">
                <button @onclick="EntendaCalcImc" class="width100 bg-white" type="button"><b>Entenda o cálculo</b></button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    public Imc Model { get; set; } = new();
    private string resultado = string.Empty;
    private double imc;

    protected void CalcularImc()
    {
        Model = new Imc
            {
                Peso = Model.Peso,
                Altura = Model.Altura,
                Sexo = Model.Sexo
            };

        imc = Model.Peso / Math.Pow(Model.Altura, 2);

        if (imc < 18.5)
        {
            resultado = "Abaixo do peso";
        }
        else if (imc >= 18.5 && imc < 24.9)
        {
            resultado = "Peso Ideal";
        }
        else if (imc >= 25 && imc < 29.9)
        {
            resultado = "Sobrepeso";
        }
        else if (imc >= 30 && imc < 34.9)
        {
            resultado = "Obesidade grau 1";
        }
        else if (imc >= 35 && imc < 39.9)
        {
            resultado = "Obesidade grau 2";
        }
        else
        {
            resultado = "Obesidade grau 3";
        }

        Service.AdicionarResult(resultado); 
        Navigation.NavigateTo($"history/");

    }

    private void EntendaCalcImc()
    {
        Navigation.NavigateTo("https://saude.abril.com.br/medicina/como-calcular-o-imc", forceLoad: true);
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask; 
        Model = new(); 
    }
}
