/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-wev6ueyd4x] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wev6ueyd4x] {
    flex: 1;
}

.sidebar[b-wev6ueyd4x] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-wev6ueyd4x] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wev6ueyd4x]  a, .top-row[b-wev6ueyd4x]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-wev6ueyd4x]  a:hover, .top-row[b-wev6ueyd4x]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-wev6ueyd4x]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-wev6ueyd4x] {
        justify-content: space-between;
    }

    .top-row[b-wev6ueyd4x]  a, .top-row[b-wev6ueyd4x]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wev6ueyd4x] {
        flex-direction: row;
    }

    .sidebar[b-wev6ueyd4x] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wev6ueyd4x] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-wev6ueyd4x]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-wev6ueyd4x], article[b-wev6ueyd4x] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-sl303sop46] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-sl303sop46] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-sl303sop46] {
    font-size: 1.1rem;
}

.bi[b-sl303sop46] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-sl303sop46] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-sl303sop46] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-sl303sop46] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-sl303sop46] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-sl303sop46] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-sl303sop46] {
        padding-bottom: 1rem;
    }

    .nav-item[b-sl303sop46]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-sl303sop46]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-sl303sop46]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-sl303sop46] {
        display: none;
    }

    .collapse[b-sl303sop46] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-sl303sop46] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/History.razor.rz.scp.css */
*[b-vixzye6hca] {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container[b-vixzye6hca] {
    width: 80%;
    height: 500px;
    min-width: 350px;
    max-width: 600px;
}

.block-input input[b-vixzye6hca] {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: large;
    border: 0.5px solid hsl(0, 2%, 91%);
    background-color: #F5F5F5;
}

.block-checkbox[b-vixzye6hca] {
    font-size: medium;
    border: none;
}

    .block-checkbox label[b-vixzye6hca] {
        line-height: 50px;
        margin-left: 5px;
        color: gray;
    }

    .block-checkbox input[b-vixzye6hca] {
        margin-top: 30px;
        border-radius: 2px;
        border: 0.5px solid hsl(0, 2%, 91%);
        background-color: #F5F5F5;
        display: inline-block;
    }

.block-button[b-vixzye6hca] {
    margin-top: 20px;
}

.bg-aqua[b-vixzye6hca] {
    background-color: aqua;
}

.bg-white[b-vixzye6hca] {
    background-color: white;
}

.block-button button[b-vixzye6hca] {
    font-size: 16px;
    height: 50px;
    border-radius: 35px;
    border: 5px solid aqua;
}

.input-position[b-vixzye6hca] {
    width: 80%;
    margin: 2% auto;
}


.center[b-vixzye6hca] {
    margin: 0 auto;
}

.flex[b-vixzye6hca] {
    display: flex;
}

.flex-colum[b-vixzye6hca] {
    flex-direction: column;
}


.flex-row[b-vixzye6hca] {
    flex-direction: row;
}

.flex-center[b-vixzye6hca] {
    justify-content: center;
}

.justify-between[b-vixzye6hca] {
    justify-content: space-between;
}

.width100[b-vixzye6hca] {
    width: 100%;
}

.width80[b-vixzye6hca] {
    width: 80%;
}

.header-top[b-vixzye6hca] {
    padding-top: 20px;
}

.text-center[b-vixzye6hca] {
    text-align: center;
}

.padding5[b-vixzye6hca] {
    padding: 5px;
}

.bblue[b-vixzye6hca] {
    background-color: blue;
}

.bred[b-vixzye6hca] {
    background-color: red;
}
#history[b-vixzye6hca] {
    height: 100vh;
    background: #FFFFFF;
}

.container-fluid[b-vixzye6hca] {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 769px) {
    .container-fluid[b-vixzye6hca] {
        width: 450px;
        margin: 0 auto;
    }
}

.logo-imc[b-vixzye6hca] {
    width: 95px;
    height: 95px;
    padding: .5em;
    border: 3px solid #45FEFE;
    border-radius: 15%;
}

    .logo-imc img[b-vixzye6hca] {
        max-width: 100%;
        max-height: 100%;
    }

.p-1[b-vixzye6hca] {
    padding: 1em;
}

.py-1[b-vixzye6hca] {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pl-1[b-vixzye6hca] {
    padding-left: 1em;
}

.mb-05[b-vixzye6hca] {
    margin-bottom: .5em;
}

.box-blocos[b-vixzye6hca] {
    font-size: 14px;
}

.tempo[b-vixzye6hca] {
    color: #522020;
}

.data[b-vixzye6hca] {
    color: #BDBDBD;
}

.bloco-item[b-vixzye6hca] {
    border-bottom: 1px solid #e8e8e8;
}

.bloco-q[b-vixzye6hca] {
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    border-radius: 8px;
    min-width: 50px;
}

.icon-peso[b-vixzye6hca] {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.icon-peso-verde[b-vixzye6hca] {
    background: green;
}

.icon-peso-vermelho[b-vixzye6hca] {
    background: red;
    border-radius: 50%;
}

.form-control[b-vixzye6hca] {
    border: 1px solid #e8e8e8;
    background: #f6f6f6;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    .form-control:hover[b-vixzye6hca], .form-control:focus[b-vixzye6hca] {
        border-color: #45FEFE;
    }
/* /Pages/Main.razor.rz.scp.css */
*[b-r6627garuk] {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container[b-r6627garuk] {
    width: 80%;
    height: 500px;
    min-width: 350px;
    max-width: 600px;
}

.block-input input[b-r6627garuk] {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: large;
    border: 0.5px solid hsl(0, 2%, 91%);
    background-color: #F5F5F5;
}

.block-checkbox[b-r6627garuk] {
    font-size: medium;
    border: none;
}

    .block-checkbox label[b-r6627garuk] {
        line-height: 50px;
        margin-left: 5px;
        color: gray;
    }

    .block-checkbox input[b-r6627garuk] {
        margin-top: 30px;
        border-radius: 2px;
        border: 0.5px solid hsl(0, 2%, 91%);
        background-color: #F5F5F5;
        display: inline-block;
    }

.block-button[b-r6627garuk] {
    margin-top: 20px;
}

.bg-aqua[b-r6627garuk] {
    background-color: aqua;
}

.bg-white[b-r6627garuk] {
    background-color: white;
}

.block-button button[b-r6627garuk] {
    font-size: 16px;
    height: 50px;
    border-radius: 35px;
    border: 5px solid aqua;
}

.input-position[b-r6627garuk] {
    width: 80%;
    margin: 2% auto;
}


.center[b-r6627garuk] {
    margin: 0 auto;
}

.flex[b-r6627garuk] {
    display: flex;
}

.flex-colum[b-r6627garuk] {
    flex-direction: column;
}


.flex-row[b-r6627garuk] {
    flex-direction: row;
}

.flex-center[b-r6627garuk] {
    justify-content: center;
}

.width100[b-r6627garuk] {
    width: 100%;
}

.width80[b-r6627garuk] {
    width: 80%;
}

.header-top[b-r6627garuk] {
    padding-top: 20px;
}

.text-center[b-r6627garuk] {
    text-align: center;
}

.padding-bottom50[b-r6627garuk] {
    padding-bottom: 50px;
}

.padding5[b-r6627garuk] {
    padding: 5px;
}

.bblue[b-r6627garuk] {
    background-color: blue;
}

.bred[b-r6627garuk] {
    background-color: red;
}
